

.about-banner-wrap{
    height: 614px;
    background: #233762 url(../images/about-banner-bg.png) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.about-banner{
    text-align: center;
    padding: 190px 20px 0 20px;
    
    img{
        max-width: 96%;
    }
}

.about-main-wrap{
    padding: 100px 0;
    
    background: url(../images/about-main-bg.png) no-repeat center bottom;
    
    p{
        margin: 0;
    }
}