.icon-com{
    display: inline-block;
    text-align: center;
    background: no-repeat center center;
}

// map
.icon-map{
    width: 73px;
    height: 97px;
    background-image: url(../images/icon-map.png);
}
//email
.icon-mail{
    width: 70px;
    height: 53px;
    background-image: url(../images/icon-mail.png);
}