
.index-contact-wrap{
    height: 270px;
    background: url(../images/index-contact-bg.png) no-repeat center center;
    background-size: cover;
}

.index-contact{
    text-align: center;
    color: #FFF;
    padding-top: 84px;
     p{
        text-align: left;
        font-size: 16px;
        // padding: 5px 0;
        line-height: 28px;
        // letter-spacing: 0.5px;
        &.p2{
            padding-top: 10px;
            border-top: 1px solid #FFF;
        }
    } 
    .icon-map{
        position: absolute;
        left: 0px;
    }
    .icon-mail{
        position: absolute;
        left: 0px;
    }
    .index-ct-box-1,.index-ct-box-2{
        position: relative;
        display: inline-block;
        width: 420px;
    }
    .index-ct-box-1{
        padding-left: 100px;
        margin-right: 100px;
    }
    .index-ct-box-2{
        height: 115px;
        vertical-align: middle;
        padding-left: 100px;
        text-align: left;
        font-size: 20px;
        line-height: 50px;
    }
    
   
    
}  