.index-product-wrap{
  
    height: 420px;
    background: url(../images/index-main2-bg.png) no-repeat center center;
    background-size: cover;
    
    
}
.index-product{
        width: 906px;
        padding-top: 120px;
        .index-product-u{
        position: relative;
        height: 182px;
        clear: both;
        li{
            float: left;
            width: 300px;
            
            img{
                -ms-transition:.2s;
                -moz-transition:.2s;
                -webkit-transition:.2s;
                transition:.2s;
                max-width: 100%;
            }
            &:hover{
                img{
                    -ms-transform:scale(1.2);
                    -moz-transform:scale(1.2);
                    -webkit-transform:scale(1.2);
                    transform:scale(1.2);
                    
                }
            }
            
        }
        }
    }