// nok

.nok-list-top{
    height: 120px;
    background: #233762 url(../images/paomiantu.png) no-repeat 70px center;
    .nok-list-title{
        padding-top: 56px;
        font-size: 22px;
        color: #f9d91c;
        text-align: right;
        padding-right: 70px;
    }
}
.nok-list-wrap{
    min-height: 1000px;
    padding: 0 70px;
    padding-top: 20px;
    background: url(../images/bg-line.png) no-repeat top right;
}

.nok-list-main{
    min-height: 200px;
    // background: #233762;
    .tb{
        width: 100%;
        font-size: 14px;
    }
    tr{
        &:hover{
            .td1{
                background: #233762;
            }
            .td2{
                background: #f5f5f5;
            }
        }
    }
    th,td{
       padding: 5px 0;   
       text-align: center;
    }
    th{
        color: #FFF;
        &.th1{
            background: #58595b;
            
        }
        &.th2{
            background: #8e9bcb;
        }
    }
    td{
        &.td1{
            color: #FFF;
            background: #8a8a8a;
            a{
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        &.td2{
            color: #222;
            background: #e5e5e5;
        }
    }
    
    
}