/**
    质保承诺
**/

.zhibao-banner-wrap{
    height: 476px;
    background: url(../images/zhibao-banner-bg.png) no-repeat center center;
    background-size: cover;
    position: relative;
    .zhibao-banner{
        text-align: center;
        padding-top: 224px;
        font-size: 28px;
        color: #FFF;
        word-spacing: 8px;
        letter-spacing: 4px;
    }
    .zhibao-banner-line{
        position: absolute;
        width: 180px;
        height: 1px;
        background-color: #FFF;
        left: 50%;
        bottom: 76px;
        margin-left: -105px;
    }
}

.zhibao-fuwu-nuo{
    padding-top: 86px;
    padding-bottom: 100px;
    .title,.title-en{     
        color: #174091;
        text-align: center;
    }
    
   
    .title{
        text-indent: 10px;
        color: #174091;
        font-size: 22px;
        word-spacing: 8px;
        letter-spacing: 10px;
        text-transform: uppercase;
    }
    .title-en{
        font-size: 20px;
        padding-top: 10px;
        word-spacing: 8px;
        padding-bottom: 50px;
    }
    
    
    .fuwu-readme-wrap{
        
        .fuwu-pic-wrap{
            width: 400px;
            height: 300px;
            float: left;
            position: relative;
            div{
                position: absolute;
                width: 400px;
                height: 300px;
                text-align: center;
                display: table-cell;
                vertical-align: middle;
            }
            img{
                max-width: 100%;
                max-height: 100%;
                vertical-align: middle;
            }
        }
        .fuwu-text-wrap{
            width: 450px;
            float: right;
            font-size: 16px;
            color: #174091;
            .text-title{
                text-align: center;
               
                height: 30px;
                line-height: 30px;
                
                letter-spacing: 2px;
                background: #f9d91c;
                text-transform:uppercase;
            }
            .m-text{
                padding-top: 10px;
                p{
                    font-size: 14px;
                    padding-top: 10px;
                }
            }
            
        }
        
    }
    
    
}


//售后服务
.zhibao-shouhou-fuwu-wrap{
    height: 650px;
    background: url(../images/shouhou-bg-1.png) no-repeat center center;
    background-size: cover;
}

.zhibao-shouhou-fuwu{
    position: relative;
    padding-top: 86px;
    
    .top-sanjiao{
        position: absolute;
        width:0; 
        height:0; 
        border-left:30px solid transparent;
        border-right:30px solid transparent;
        border-bottom:30px solid #192649;
        left: 50%;
        top: -30px;
        margin-left: -30px;
    }
    
    .title,.title-en{     
        color: #fff;
        text-align: center;
    }
    
    .title{
        font-size: 22px;
        word-spacing: 8px;
        letter-spacing: 10px;
    }
    
    .title-en{
        font-size: 20px;
        padding-top: 10px;
        word-spacing: 8px;
        letter-spacing: 2px;
        padding-bottom: 70px;
    }
    
}

.shouhou-tab-wrap{
    
    
    .shouhou-tab-nav{
        height: 94px;
        width: 1200px;
        a{
            display: inline-block;
            width: 94px;
            height: 94px;
            margin-right: 160px;
            span{
                display: inline-block;
                width: 60px;
                height: 54px;
                background-repeat:  no-repeat;
                background-position: center center;
                background-size: cover;
            }
            .fa{
                font-size: 36px;
            }
            .icon-1{
                background-image: url(../images/setting.png)
             }
             .icon-2{
                background-image: url(../images/time.png)
             }
             .icon-3{
                background-image: url(../images/fix.png)
             }
             .icon-4{
                background-image: url(../images/service.png)
             }
             &.on{
                 .icon-1{
                    background-image: url(../images/setting-on.png)
                }
                .icon-2{
                    background-image: url(../images/time-on.png)
                }
                .icon-3{
                    background-image: url(../images/fix-on.png)
                }
                .icon-4{
                    background-image: url(../images/service-on.png)
                }
             }
        }
    }
    
    
    .shouhou-tab-main{
       color: #FFF;
       text-align: center;
       font-size: 16px;
       letter-spacing:2px;
       line-height: 30px;
       div{
           display: none;
           padding-top: 30px;
       }
       table{
           width: 100%;
           td{
               height: 300px;
               vertical-align: middle;
           }
       }
    }
}
